*{
  box-sizing:border-box;
}
body{
  margin:0;
}
header{
  height:60px;
  width:100%;
  padding:20px 60px;
  margin:0;
  background-color:#BBFFFF;
  position:fixed;
  top:0;
}
.header-left{
  float:left;
  font-size:20px;
  font-weight:600;
  letter-spacing:1.5px;
  line-height:20px;
}
.header-logo{
  margin:0;
}
.header-right{
  margin:0;
  display:block;
  height:20px;
  line-height:20px;
}
.header-right ul{
  display:block;
  height:20px;
  line-height:20px;
  margin:0;
}
.header-right li{
  float:right;
  list-style:none;
  font-size:18px;
  font-weight:600;
  letter-spacing:1.5px;
  margin-right:20px;
  line-height:20px;
  display:block;
}
.top-message{
  text-align:center;
}
.top-message img{
  width:1000px;
}
.profile{
  width:1000px;
  padding:20px 80px;
  margin:0 auto;
}
.profile-right{
  float:right;
}
.profile-right img{
  width:230px;
  height:220px;
}
.profile h3{
  font-size:24px;
  font-weight:600;
  letter-spacing:1.5px;
}
.profilewrapper{
  padding:0 15px;
  float:left;
}
.profile-left{
  display:inline-block;
  width:572px;
  font-weight:350;
}
.myname{
  font-size:20px;
  font-weight:500;
  letter-spacing:1.5px;
}
footer{
  height:60px;
  background-color:#BBFFFF;
  clear:both;
}
.footer-logo{
  text-align:center;
  font-size:20px;
  font-weight:600;
  letter-spacing:1.5px;
  line-height:60px;
}
